sudo: required

branches:
  only:
  - master

services:
  - docker

before_install:
  # login to server
  - openssl aes-256-cbc -K $encrypted_707a8c6f41b7_key -iv $encrypted_707a8c6f41b7_iv -in id_rsa.enc -out ~/.ssh/id_rsa -d

  - docker-compose up --build -d

script:
  - docker-compose run api python -m unittest

after_success:
  # login to docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # push images to docker hub
  - docker-compose push

after_script:
  - docker-compose -f docker-compose.yml down
  - ssh root@49.234.212.86 'cd /usr/app/Flask-user-demo && git pull https://github.com/Green-Wood/Flask-user-demo.git'