sudo: required
branches:
  only:
  - master
services:
- docker
before_install:
- openssl aes-256-cbc -K $encrypted_f2da98d7c5be_key -iv $encrypted_f2da98d7c5be_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- docker-compose up --build -d
script:
- docker-compose run api python -m unittest
after_success:
- echo "$DOCKER_PASSWORD" | docker login --username=$DOCKER_ID --password-stdin
- docker-compose push
after_script:
- docker-compose -f docker-compose.yml down
- ssh travis@49.234.212.86 -o StrictHostKeyChecking=no 'cd /usr/app/Flask-user-demo
  && git pull && docker-compose -f docker-compose.prod.yml up'
