version: '3'
services:
  postgres:
    image: 'postgres:latest'

  api:
    environment:
      - APP_ENV=prod
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPORT=5432
      - PGPASSWORD=postgres_password
    image: greenw00d/flask-demo-backend


  nginx:
    restart: always
    ports:
      - "5000:80"
    image: greenw00d/flask-demo-nginx