version: '3'
services:
  postgres:
    image: 'postgres:latest'

  api:
    build:
      dockerfile: Dockerfile
      context: ./backend
    environment:
      - APP_ENV=prod
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPORT=5432
      - PGPASSWORD=postgres_password
      - MODEL_HOST=ml
      - MODEL_PORT=8501
    image: greenw00d/flask-demo-backend

  ml:
    build:
      dockerfile: Dockerfile
      context: ./backend
    ports:
      - "8501:8501"
    image: greenw00d/flask-demo-model

  nginx:
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "5000:80"
    image: greenw00d/flask-demo-nginx

