version: '3'
services:
  postgres:
    image: 'postgres:latest'

  api:
    environment:
      - APP_ENV=prod
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPORT=5432
      - PGPASSWORD=postgres_password
      - MODEL_HOST=ml
      - MODEL_PORT=8501
    image: greenw00d/flask-demo-backend:latest


  nginx:
    restart: always
    ports:
      - "5000:80"
    image: greenw00d/flask-demo-nginx:latest

  model:
    restart: always
    image: greenw00d/flask-demo-model:latest